@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
}

.logo {
    width: 80px;
    height: 80px;
    margin-left: 12%;
}

.text {
    position: fixed;
    right: 11%;
    cursor: pointer;

}

.text a {
    margin: 10px;
    color: rgb(96, 96, 96);
    text-decoration: none;
}

.text2 {
    line-height: 140%;
}

.left {
    position: fixed;
    left: 12%;
    color: rgb(96, 96, 96);
    top: 30%;
    margin-right: 50%;
}

.title {
    font-size: 50px;
    font-weight: 600;
}

button {
    margin-top: 3%;
    width: 180px;
    height: 60px;
    font-size: 20px;
    color: rgb(96, 96, 96);
    cursor: pointer;
}

.text a:hover {
    color: rgb(230, 20, 20);
    text-decoration: underline;
    text-underline-offset: 8px; /* With this coe the text underline start to be far away from the text */
}



.pic {
    width: 500px;
    height: 500px;
}

.right {
    position: fixed;
    right: 12%;
    top: 15%;
}