@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.head .logo {
    width: 5%;
}

.head .list a {
    padding: 0 16px;
    text-decoration: none;
    color: rgb(96, 96, 96);
    cursor: pointer;
}

.left {
    font-size: 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right {
    width: 50%;

}

.right .pic {
    width: 500px;
   
}



/*



.text2 {
    line-height: 140%;
}

.left {
    position: fixed;
    left: 12%;
    color: rgb(96, 96, 96);
    top: 30%;
    margin-right: 50%;
}

.title {
    font-size: 50px;
    font-weight: 600;
}

button {
    margin-top: 3%;
    width: 180px;
    height: 60px;
    font-size: 20px;
    color: rgb(96, 96, 96);
    cursor: pointer;
}

.text a:hover {
    color: rgb(230, 20, 20);
    text-decoration: underline;
    text-underline-offset: 8px; /* With this coe the text underline start to be far away from the text /*
}



.pic {
    width: 500px;
    height: 500px;
    margin-left: 30%;
}

.right {
    position: fixed;
    right: 12%;
    top: 15%;
}

@media only screen and (max-width: 768px) {
    .left {
        font-size: 10px;
    }

    .title {
        font-size: 15px;
    }

    .pic {
        width: 300px;
        height: 300px;
    }

}

@media only screen and (max-width: 568px) {
    .left {
        font-size: 10px;
        top: 50%;
        left: 35%;
    }

    .title {
        font-size: 15px;
    }

    .pic {
        width: 100%;
        height: 100%;
    }

    .right {
        position: fixed;
        top: 15%;
        right: 35%;
    }
}
*/